@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/NotoSans.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/NotoSans-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Mono';
  src: url('/assets/fonts/NotoSansMono.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-000.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+20-451;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-002.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+1100-11FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-003.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+1E3E-1EF9;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-004.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2002-27A1;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-005.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2934-2FFB;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-006.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+3000-37FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-007.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+3800-3FFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-008.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+4000-47FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-009.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+4800-4FFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-00a.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+5000-57FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-00b.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+5800-5FFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-00c.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+6000-67FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-00d.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+6800-6FFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-00e.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+7000-77FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-00f.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+7800-7FFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-010.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+8000-87FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-011.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+8800-8FFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-012.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+9000-97FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-013.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+9800-9FEF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-015.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+A960-AFFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-016.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+B000-B7FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-017.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+B800-BFFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-018.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+C000-C7FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-019.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+C800-CFFF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-01a.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+D000-D7FB;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-01f.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+F900-FFEE;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-03e.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+1F100-1F251;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-040.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2000B-207C8;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-041.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+20807-20FED;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-042.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+21014-217FC;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-043.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+21820-21FFA;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-044.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+22045-227CD;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-045.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+22803-22FEB;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-046.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+23033-237FF;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-047.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+23824-23FF0;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-048.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+24011-247F1;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-049.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+24812-24FF2;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-04a.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2502C-257E1;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-04b.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+25832-25FFB;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-04c.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2600C-267D8;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-04d.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2681C-26FF8;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-04e.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2700E-277CC;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-04f.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+27858-27FF9;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-050.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+28002-287E0;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-051.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+28804-28FF8;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-052.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+29079-297D4;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-053.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+29810-29FDE;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-054.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2A014-2A7DD;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-055.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2A8FB-2AFA2;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-056.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2B127-2B7FC;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-057.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2B806-2BE29;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-058.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2C029-2C7FD;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-059.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2C8D9-2CE93;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-05a.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2D544-2D544;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-05c.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2E014-2E6EA;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-05f.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+2F804-2F9F4;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-060.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+30729-30729;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-061.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+30EDD-30EDE;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/assets/fonts/NotoSansCJKsc-062.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+3106C-3106C;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-000.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+20-451;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-002.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+1100-11FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-003.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+1E3E-1EF9;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-004.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2002-27A1;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-005.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2934-2FFB;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-006.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+3000-37FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-007.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+3800-3FFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-008.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+4000-47FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-009.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+4800-4FFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-00a.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+5000-57FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-00b.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+5800-5FFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-00c.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+6000-67FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-00d.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+6800-6FFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-00e.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+7000-77FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-00f.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+7800-7FFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-010.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+8000-87FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-011.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+8800-8FFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-012.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+9000-97FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-013.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+9800-9FEF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-015.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+A960-AFFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-016.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+B000-B7FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-017.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+B800-BFFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-018.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+C000-C7FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-019.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+C800-CFFF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-01a.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+D000-D7FB;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-01f.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+F900-FFEE;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-03e.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+1F100-1F251;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-040.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2000B-207C8;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-041.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+20807-20FED;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-042.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+21014-217FC;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-043.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+21820-21FFA;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-044.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+22045-227CD;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-045.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+22803-22FEB;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-046.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+23033-237FF;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-047.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+23824-23FF0;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-048.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+24011-247F1;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-049.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+24812-24FF2;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-04a.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2502C-257E1;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-04b.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+25832-25FFB;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-04c.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2600C-267D8;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-04d.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2681C-26FF8;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-04e.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2700E-277CC;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-04f.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+27858-27FF9;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-050.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+28002-287E0;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-051.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+28804-28FF8;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-052.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+29079-297D4;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-053.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+29810-29FDE;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-054.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2A014-2A7DD;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-055.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2A8FB-2AFA2;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-056.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2B127-2B7FC;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-057.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2B806-2BE29;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-058.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2C029-2C7FD;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-059.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2C8D9-2CE93;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-05a.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2D544-2D544;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-05c.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2E014-2E6EA;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-05f.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+2F804-2F9F4;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-060.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+30729-30729;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-061.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+30EDD-30EDE;
}

@font-face {
  font-family: 'Noto Sans Mono CJK SC';
  src: url('/assets/fonts/NotoSansMonoCJKsc-062.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  unicode-range: U+3106C-3106C;
}
